<div style="background-color:rgb(195, 247, 205); padding:5px;">
    <% if @pdf.pdf_file.attached? %>
        <h1><%= @pdf.name %> was successfully attached</h1>
        <%= image_tag ("/assets/preview.png")%>
        <%= image_tag ("/assets/preview2.png")%>
        <%= image_tag ("/assets/preview3.png")%>
    <% else %>
        <h1>Error: Something went wrong</h1>
    <% end %>
</p>
<%= link_to 'Back', articles_path %>
</div>